BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "cdiv0[0]" SITE "45" ;
LOCATE COMP "cdiv0[1]" SITE "44" ;
LOCATE COMP "cdiv0[2]" SITE "43" ;
LOCATE COMP "cdiv0[3]" SITE "42" ;
LOCATE COMP "cdiv0[4]" SITE "41" ;
LOCATE COMP "en0" SITE "38" ;
LOCATE COMP "outtran[0]" SITE "10" ;
LOCATE COMP "outtran[1]" SITE "11" ;
LOCATE COMP "outtran[2]" SITE "12" ;
LOCATE COMP "outtran[3]" SITE "13" ;
LOCATE COMP "clkout0" SITE "35" ;
LOCATE COMP "outcode[6]" SITE "1" ;
LOCATE COMP "outcode[5]" SITE "2" ;
LOCATE COMP "outcode[4]" SITE "3" ;
LOCATE COMP "outcode[3]" SITE "4" ;
LOCATE COMP "outcode[2]" SITE "5" ;
LOCATE COMP "outcode[1]" SITE "6" ;
LOCATE COMP "outcode[0]" SITE "9" ;
