BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Ai[0]" SITE "45" ;
LOCATE COMP "Ai[1]" SITE "44" ;
LOCATE COMP "Ai[2]" SITE "43" ;
LOCATE COMP "Ai[3]" SITE "42" ;
LOCATE COMP "Bi[0]" SITE "56" ;
LOCATE COMP "Bi[1]" SITE "55" ;
LOCATE COMP "Bi[2]" SITE "54" ;
LOCATE COMP "Bi[3]" SITE "52" ;
LOCATE COMP "Ro[0]" SITE "113" ;
LOCATE COMP "Ro[1]" SITE "114" ;
LOCATE COMP "Ro[2]" SITE "115" ;
LOCATE COMP "Ro[3]" SITE "117" ;
LOCATE COMP "Ro[4]" SITE "119" ;
LOCATE COMP "Ro[5]" SITE "120" ;
LOCATE COMP "Ro[6]" SITE "121" ;
LOCATE COMP "Ro[7]" SITE "122" ;
